.forgrid {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 600px) {
  .forgrid {
    width: 283px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
